fish/fish/fish_variables
ranger/ranger/plugins/__init__.py
ranger/ranger/plugins/__pycache__/
ranger/ranger/plugins/ranger_devicons/__pycache__/
fish-conf/fish/fish_variables
btop/btop/btop.log
btop/btop/themes
Vieb/Vieb/Cache/
Vieb/Vieb/Code Cache/
Vieb/Vieb/Crashpad/
Vieb/Vieb/Dictionaries/
Vieb/Vieb/GPUCache/
Vieb/Vieb/Local Storage/
Vieb/Vieb/Network Persistent State
Vieb/Vieb/Partitions/
Vieb/Vieb/Preferences
Vieb/Vieb/Session Storage/
Vieb/Vieb/SingletonCookie
Vieb/Vieb/SingletonLock
Vieb/Vieb/SingletonSocket
Vieb/Vieb/blocklists/
Vieb/Vieb/tabs
Vieb/Vieb/webviewsettings
Vieb/Vieb/windowstate
Vieb/Vieb/explorehist
Vieb/Vieb/favicons/
Vieb/Vieb/hist
nitrogen/nitrogen/bg-saved.cfg
